.todo-item {
  border: 4px solid teal;
  border-radius: 15px;
  padding: 10px;
}

.button-set{
  display: flex;
  justify-content: space-around;
  gap: 10px;  
}

.remove-button{
  width: 100%;
 height: 50px;
 background-color: transparent;
 border: 2px solid red; 
 border-radius: 15px;
 cursor: pointer;
 
}
.check-button{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 2px solid green; 
  border-radius: 15px;
  cursor: pointer; 
}